<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content = "IE-Edge">
        <meta name = "viewport" content  = "width=device-width, initial-scale = 1.0"> 
        <title>Weekly Planner Page</title>

        <link rel="stylesheet" href="../public/css/weekly_styles.css">
        <script src="https://kit.fontawesome.com/a9c3ea6bcb.js" crossorigin="anonymous"></script>

        <script src = "../public/js/weekly.js" defer></script>
    </head>

    <body>
        <!-- Create navbar in header-->
        <header>
            <div class = "nav_container">
                <!--Create and insert a Logo to Replace Title?-->
                <nav>
                    <label class = "logo">Task Tracker</label>
                    <ul>
                        <li><a href = "events">Events</a></li>
                        <li><a href = "monthly">Monthly</a></li>
                        <li><a class = "active" href = "/">Weekly</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <h1 class = "week_title">Task Planner</h1>

        <h2>Weekly Tasks</h2>

        <section class = "tasks_container">
            <div class = "task_card">
                <!-- Create New Task -->
                    <div id = "add_task_card" >
                        <div class = "task">
                            <input type = "text" class = "create_new_input" placeholder = "Task Title" 
                                id = "task_title" aria-label="new_step">
                                    
                            <input type = "text" class = "create_new_input" placeholder = "Add a Step" 
                                id = "new_step" aria-label="new_step">

                            <button id = "newcardbutton">Create New Task</button>
                        </div>   
                    </div>
                    
                </div>

        

        </section>

        <!-- Daily Section -->
        <section class = "daily_container">
            <div class = "day">
                <h3>Monday</h3>
                <hr>
                <!-- Add a New Task -->
                <div class = "new_daily">
                    <form
                        method = "post"
                        action = "/newdailytaskmonday/"
                    >
                        <input type = "text" name = "newDailyMonday" placeholder="Add a New Task">
                        <button>Add Task</button>

                        <% for( var i = 0; i < taskMonday.length; i++){ %>
                            <li class = "daily_task_list"><input type="checkbox" name="check" value="<%= taskMonday[i] %>" /> 
                                <%= taskMonday[i] %> </li><% } %>

                        <button formaction = "/completetaskmonday/" type = "submit">Mark as Completed</button>

                    </form>


                    <h4>Completed Tasks</h4>
                    <% for(var i = 0; i < completeMonday.length; i++){ %>
                        <li class = "daily_completed"><input type="checkbox" checked><%= completeMonday[i] %> </li>
                    <% } %>
                    
                </div>
            </div>

            <div class = "day">
                <h3>Tuesday</h3>
                <hr>

                <div class = "new_daily">
                    <form
                        method = "post"
                        action = "/newdailytasktuesday/"
                    >
                        <input type = "text" name = "newDailyTuesday" placeholder="Add a New Task">
                        <button>Add Task</button>

                        <% for( var i = 0; i < taskTuesday.length; i++){ %>
                            <li class = "daily_task_list"><input type="checkbox" name="check" value="<%= taskTuesday[i] %>" /> 
                                <%= taskTuesday[i] %> </li><% } %>

                        <button formaction = "/completetasktuesday/" type = "submit">Mark as Completed</button>

                    </form>


                    <h4>Completed Tasks</h4>
                    <% for(var i = 0; i < completeTuesday.length; i++){ %>
                        <li class = "daily_completed"><input type="checkbox" checked><%= completeTuesday[i] %> </li>
                    <% } %>
                </div>
            </div>

            <div class = "day">
                <h3>Wednesday</h3>
                <hr>
                <div class = "new_daily">
                    <form
                    method = "post"
                    action = "/newdailytaskwednesday/"
                >
                    <input type = "text" name = "newDailyWednesday" placeholder="Add a New Task">
                    <button>Add Task</button>

                    <% for( var i = 0; i < taskWednesday.length; i++){ %>
                        <li class = "daily_task_list"><input type="checkbox" name="check" value="<%= taskWednesday[i] %>" /> 
                            <%= taskWednesday[i] %> </li><% } %>

                    <button formaction = "/completetaskwednesday/" type = "submit">Mark as Completed</button>

                </form>


                <h4>Completed Tasks</h4>
                <% for(var i = 0; i < completeWednesday.length; i++){ %>
                    <li class = "daily_completed"><input type="checkbox" checked><%= completeWednesday[i] %> </li>
                <% } %>
                </div>
            </div>

            <div class = "day">
                <h3>Thursday</h3>
                <hr>
                <div class = "new_daily">
                    <form
                        method = "post"
                        action = "/newdailytaskthursday/"
                    >
                        <input type = "text" name = "newDailyThursday" placeholder="Add a New Task">
                        <button>Add Task</button>

                        <% for( var i = 0; i < taskThursday.length; i++){ %>
                            <li class = "daily_task_list"><input type="checkbox" name="check" value="<%= taskThursday[i] %>" /> 
                                <%= taskThursday[i] %> </li><% } %>

                        <button formaction = "/completetaskthursday/" type = "submit">Mark as Completed</button>

                    </form>


                    <h4>Completed Tasks</h4>
                    <% for(var i = 0; i < completeThursday.length; i++){ %>
                        <li class = "daily_completed"><input type="checkbox" checked><%= completeThursday[i] %> </li>
                    <% } %>
                    
                </div>
            </div>

            <div class = "day">
                <h3>Friday</h3>
                <hr>
                <div class = "new_daily">
                    <form
                        method = "post"
                        action = "/newdailytaskfriday/"
                    >
                        <input type = "text" name = "newDailyFriday" placeholder="Add a New Task">
                        <button>Add Task</button>

                        <% for( var i = 0; i < taskFriday.length; i++){ %>
                            <li class = "daily_task_list"><input type="checkbox" name="check" value="<%= taskFriday[i] %>" /> 
                                <%= taskFriday[i] %> </li><% } %>

                        <button formaction = "/completetaskfriday/" type = "submit">Mark as Completed</button>

                    </form>


                    <h4>Completed Tasks</h4>
                    <% for(var i = 0; i < completeFriday.length; i++){ %>
                        <li class = "daily_completed"><input type="checkbox" checked><%= completeFriday[i] %> </li>
                    <% } %>
                </div>
            </div>

            <div class = "day">
                <h3>Saturday</h3>
                <hr>
                <div class = "new_daily">
                    <form
                    method = "post"
                    action = "/newdailytasksaturday/"
                >
                    <input type = "text" name = "newDailySaturday" placeholder="Add a New Task">
                    <button>Add Task</button>

                    <% for( var i = 0; i < taskSaturday.length; i++){ %>
                        <li class = "daily_task_list"><input type="checkbox" name="check" value="<%= taskSaturday[i] %>" /> 
                            <%= taskSaturday[i] %> </li><% } %>

                    <button formaction = "/completetasksaturday/" type = "submit">Mark as Completed</button>

                </form>


                <h4>Completed Tasks</h4>
                <% for(var i = 0; i < completeSaturday.length; i++){ %>
                    <li class = "daily_completed"><input type="checkbox" checked><%= completeSaturday[i] %> </li>
                <% } %>
                </div>
            </div>

            <div class = "day">
                <h3>Sunday</h3>
                <hr>
                <div class = "new_daily">
                    <form
                        method = "post"
                        action = "/newdailytasksunday/"
                    >
                        <input type = "text" name = "newDailySunday" placeholder="Add a New Task">
                        <button>Add Task</button>

                        <% for( var i = 0; i < taskSunday.length; i++){ %>
                            <li class = "daily_task_list"><input type="checkbox" name="check" value="<%= taskSunday[i] %>" /> 
                                <%= taskSunday[i] %> </li><% } %>

                        <button formaction = "/completetasksunday/" type = "submit">Mark as Completed</button>

                    </form>


                    <h4>Completed Tasks</h4>
                    <% for(var i = 0; i < completeSunday.length; i++){ %>
                        <li class = "daily_completed"><input type="checkbox" checked><%= completeSunday[i] %> </li>
                    <% } %>
                </div>
            </div>

        </section>

    </body>

</html>